<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Connection" value="Data Source=RVDK-SVR-6091,1500;Initial Catalog=DebtPipeline;Integrated Security=True; MultipleActiveResultSets=true"/>
    <add key="XmlFolder" value="C:\Users\j.shepelev\Downloads"/>
    <add key="PrepareThreadCount" value="1"/>
    <add key="OrderThreadCount" value="1"/>
    <add key="UploadThreadCount" value="1"/>
    <add key="PickUpAttemptDelayHour" value="1"/>
    <add key="FirstPickUpAttemptDelayHour" value="1"/>
  </appSettings>
</configuration>